<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head')%>
    <title>Book App - Add Book</title>
    <link href="../public/styles/style.css" rel="stylesheet" type="text/css" />
</head>
<header>
    <%- include('../../layout/header')%>
</header>

<body>
    <main>
        <h2 id="legend">
            <p>Add a new book</p>
        </h2>
        <%- include('../../layout/form',{formAction:"POST",book:{}})%>
        </form>
    </main>
    <footer>
        <%- include('../../layout/footer')%>
    </footer>
</body>

</html>