<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head')%>
    <title>Book App - Search</title>
    <link href="../public/styles/style.css" rel="stylesheet" type="text/css" />
</head>
<header>
    <%- include('../../layout/header')%>
</header>

<body>
    <main>
        <h2 id="legend">
            <p>Search by Title or Author</p>
        </h2>
        <form action="/searches/show" method="POST">

            <input id="enter" type="text" placeholder="Enter a title or author" name="searchBy"><br>
            <nav><label>
                    <span>Title</span>
                    <input type="radio" name="resultSearch" value="title">
                </label>
            </nav>
            <br>
            <nav> <label>
                    <span>Author</span>
                    <input type="radio" name="resultSearch" value="author">
                </label>
            </nav>
            <br>
            <button>Search the Google Books API</button>
        </form>
    </main>
    <footer>
        <%- include('../../layout/footer')%>
    </footer>
</body>

</html>