<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head')%>
    <title>Book App - ERROR!</title>
    <link href="./public/styles/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <%- include('../layout/header')%>
    </header>
    
    <main>
      <center><p style="padding: 20% 0px 20% 0px;"><%= error%></p> </center> 
    </main>
    <footer>
        <%- include('../layout/footer')%>
    </footer>
    
</body>
</html>