@media(max-width: 768px){
    h2{
        background-color: rgb(75, 68, 68);
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    h2 p{
        color: white;
    }
    .theAdd{
        width: 59%;
		padding: 10px;
		border-radius: 5px;
		margin: 20px;
    }
    ul li{
        float: right;
    }
    li{
        padding: 0px 1% 0px 1%;
        margin: 0px 4% 0px 4%;
        background-color: rgba(100, 66, 167, 0.247);
        border-radius: 50%;
        font-size: 150%;
    }
    li a{
        text-decoration: none;
        color: whitesmoke;
    }
    ul li{
        float: right;
    }
    li{
        padding: 0px 1% 0px 1%;
        margin: 0px 4% 0px 4%;
        background-color: rgba(41, 30, 63, 0.247);
        border-radius: 50%;
        /* font-size: 150%; */
    }
    li a{
        text-decoration: none;
        color: whitesmoke;
    }
}

@media(min-width: 769px){
    h2{
        background-color: rgb(76, 65, 95);
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    h2 p{
        color: white;
        font-size: 25px;
    }
    .theAdd{
        width: 61%;
		padding: 10px;
		border-radius: 5px;
		margin: 20px;
    }
    ul li{
        float: right;
    }
    li{
        padding: 0px 1% 0px 1%;
        margin: 0px 4% 0px 4%;
        background-color: rgba(100, 66, 167, 0.247);
        border-radius: 50%;
        font-size: 150%;
    }
    li a{
        text-decoration: none;
        color: whitesmoke;
    }
}
