@media(max-width: 768px){
    h2{
        background-color: rgb(75, 68, 68);
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    h2 p{
        color: white;
    }
}

@media(min-width: 769px){
    h2{
        background-color: rgb(76, 65, 95);
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    h2 p{
        color: white;
        font-size: 25px;
    }
}